In [ ]:
#1
SELECT SUBSTRING(FIRST_NAME,1,3) FROM Worker;

In [ ]:
#2
SELECT position('a' IN FIRST_NAME) FROM Worker WHERE FIRST_NAME="Amitabh";

In [ ]:
#3
SELECT w.department, first_name from worker as w, (SELECT DEPARTMENT, MAX(Salary) as salary FROM worker GROUP BY DEPARTMENT) as s
where w.department = s.department and w.salary = s.salary;